body{
    margin:0;
    padding:0;
}
#logo{
    width:64px;
    margin-left: 15px;
}
nav{
    display:flex;
    justify-content: space-between;
    background-color: yellowgreen;
    height: 64px;
    border-bottom: 2px solid;
}

nav ul{
    display: flex;
}

nav ul li{
    margin-top: 8px;
    list-style: none;
    margin-right: 20px;
    text-decoration: underline;
    font-weight: bolder;
}
nav a{
    color:black;
}
nav a:hover{
    color:whitesmoke;
}

#titulo1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 80px;
    position: relative;
}
.titulo2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
    border-bottom: 2px solid;
    margin-top: 40px;;
}

p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 500px;
    text-align: justify;
    margin-bottom: 30px;
    margin-top:0px;
}

.secoes{
    justify-content: center;
    margin-left: 130px;;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 650px));
    gap:20px;
    margin-top: 50px;
}

.paises{
   
    padding: 10px;
    width: 505px;
    border-radius: 20px;
    display: grid;
}
.img{
    width: 100%;
    margin:2px;
    border-radius: 20px;
}

.info {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }
  
.data {
    font-size: 18px;
    text-align: center;
  }
  
li {
    margin-bottom: 10px;
  }
  
footer{
    margin-top: 80px;
    border-top: 2px solid;
    background-color: yellowgreen;
    display:flex;
    justify-content: center;
}

#direitos{
    margin-top: 30px;
    text-align: center;
    font-weight: bolder;
}
@media screen and (min-width: 769px) {
    #logoMobile {
        display: none; 
    }}
@media screen and (min-width: 769px) {
    #menu-icon {
        display: none; 
    }}
@media screen and (max-width: 768px) {
    
    #logoMobile{
        width:64px;
        height: 64px;
        margin: 10px;
    }
    nav {
        display: none;
    }

    #menu-icon {
        position: fixed;
        top: 20px;
        right: 20px;
        font-size: 24px;
        cursor: pointer;
        z-index: 9999;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 3px;
    }
    
    #titulo1 {
        font-size: 24px;
        margin-top: 20px;
    }
 
    .titulo2 {
        font-size: 18px;
        margin-top: 30px;
    }
 
    
    .secoes {
        margin-left: 0;
        margin-right: 0; 
        width: 100%; 
        margin-top: 30px;
        display: block; 
    }

 
    .paises {
        width: 90%;
        margin: 10px;
    }
 
    p {
        width: 100%;
        text-align: justify;
        margin-bottom: 20px;
    }
 
    .img {
        width: 100%;
        max-width: 100%;
    }
    #turquia{
        margin-bottom: 65px;
    }

    footer{
      display:none;
    }
    .bottom-menu {
        position: fixed;
        bottom: 8px; 
        left: 70px; 
        right: 70px; 
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #e9e9e9c0;
        color: #fff;
        padding: 10px 0;
        border-radius: 10px; 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
      }
      .bottom-menu a{
        cursor: pointer;
      }
      .menu-item {
        flex: 1;
        text-align: center;
      }
      
      .icon {
        height: 32px;
        width: 32px;
      }
 }
 @media screen and (min-width: 769px) {
    .bottom-menu {
        display: none; 
    }
}